body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.img-card{
    display: flex;
    justify-content: center;
    width: fit-content;
}

.trip-img{
    height: 256px;
    width: fit-content;
}
