<h1>{{title}}</h1>

<button type="button" class="btn btn-primary" style="border-radius: 20px;">
    <img src="../images/add.png" style="height: 24px; width: 24px;"/>
      <a class="nav-link text-white" href="/trips/add" style="display: inline;">
        Add Listing
      </a>
</button>